<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>django form</title>
    </head>
    <body>
        <form method="post"> <!--метод для получения данных, еще есть GET но это другое-->
            {%csrf_token%} <!--'это сертификат для безопасности, надо вставлять если метод ПОСТ'-->
         <table>
         {{form}} <!--это обращение к классу в котором созданы текстбоксы для ввода, это что бы не ковырятся в ХТМЛ-->
         </table>
         <input type="submit" name="Go" value="send"> <!--кнопка ввода-->
         </form>
    </body>
</html>
